td{

    width: 200px;
    height: 200px;
    border: 2px solid green;
    /* background-color: bisque; */
    font-size: 40px;
    text-align: center;
    
}
.box{
    width: 100%;
    background-color: antiquewhite;
    height: 50px;
}
body{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}